/node_modules
/public/hot
/public/storage
/public/img/system_logo.png
/public/img/system_logo_small.png
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
!/.gitignore
.idea
